.about-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding-bottom: 60px; /* Optional spacing at the bottom */
  }
  
  
  .about-title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 40px;
    font-family: 'Kode Mono', monospace;
}
  
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 160px;
    margin-top: 50px;

    
  }
  
  .profile-img {
    width: 350px;
    height: auto;
    border-radius: 12px;
    object-fit: cover;

  }
  
  .about-text {
    max-width: 450px;
    text-align: left;
    font-size: 1rem;
    line-height: 1.7;
    margin-top: 50px;

  }
  
  @media (min-width: 768px) {
    .about-content {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
  
    .about-text {
      text-align: left;
    }
  }
  